body {
    background:#ffffff;
    margin:0;
    font-family: 'Patrick Hand', cursive;
    display: block;
}

.barra {
    background-color: aqua;
}

.barra-nav {
    position: absolute;
    top: 5px;
    right: 0;
}

.barra-nav li {
    display: inline;
    margin: 0 0 0 15px;
    text-transform: capitalize;
    color: black;
    font-size: 20px;
}

.barra-nav li:hover {
    font-size: 25px;
    transition: 9seg;
}

.info-index div {
    width: 70%;
    margin: 3rem;
}

p{
    margin-top: 0;
    margin-bottom: 1rem;
}

.main-index {
    padding: 1rem;
    margin: 0;
    text-align: left;
}

.logo-y-titulo{
    animation: normal;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-delay: .0s;
}

.logo-y-titulo {
    display: flex;
    flex-direction: column;
    height: 15rem;
    padding-bottom: 1rem;
}
.align-items-center {
    align-items: center!important;
}
.justify-content-around {
    justify-content: space-around!important;
}
.d-flex {
    display: flex!important;
}
* {
    margin: 0;
    padding: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}

.footer-copyright{
    background-color:#52527a;
    color: #ffffff;
    padding: 15px;
    margin-top: 30px;
    text-transform: capitalize;
}

.footer-copyright p{
    margin-bottom: 0px;
}
